.rel-ebb-photo-cut
  width 100%
  height 100%
  display flex
  justify-content space-between
  align-items center

  .rel-ebb-bg
    display flex
    align-items center
    justify-content center
    position relative
    flex auto
    height 100%
    background-image url("../../assets/images/transparent.png")

    img
      max-width 100%
      max-height 100%

    .rel-ebb-shadow
      display flex
      justify-content center
      align-items center
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color rgba(0, 0, 0, .3)
      cursor crosshair
      user-select none

      .img-frame
        position relative

        .cutting-area
          position absolute

          .position
            width 100%
            height 100%
            position relative
            cursor move
            display flex
            justify-content center
            align-items center

          div
            position absolute

          .cutting-line-up
            top 0
            left 0
            width 100%
            height 1px
            background #fff url("../../assets/images/Jcrop.gif") top left repeat

          .cutting-line-down
            bottom 0
            left 0
            width 100%
            height 1px
            background #fff url("../../assets/images/Jcrop.gif") top left repeat

          .cutting-line-left
            top 0
            left 0
            width 1px
            height 100%
            background #fff url("../../assets/images/Jcrop.gif") top left repeat

          .cutting-line-right
            top 0
            right 0
            width 1px
            height 100%
            background #fff url("../../assets/images/Jcrop.gif") top left repeat

          .resize-line-up
            height 6px
            top -3px
            background none
            cursor n-resize
            z-index 12

          .resize-line-down
            height 6px
            bottom -3px
            background none
            cursor s-resize
            z-index 12

          .resize-line-left
            width 6px
            left -3px
            background none
            cursor e-resize
            z-index 12

          .resize-line-right
            width 6px
            right -3px
            background none
            cursor w-resize
            z-index 12

          .cutting-point
            width 8px
            height 8px
            background-color #000 !important

          .cutting-point-up
            top -4px
            left calc(50% - 4px)
            cursor n-resize
            z-index 10

          .cutting-point-down
            bottom -4px
            left calc(50% - 4px)
            cursor n-resize
            z-index 10

          .cutting-point-left
            left -4px
            top calc(50% - 4px)
            cursor w-resize
            z-index 10

          .cutting-point-right
            right -4px
            top calc(50% - 4px)
            cursor w-resize
            z-index 10

          .cutting-point-left-up
            left -4px
            top -4px
            cursor nw-resize
            z-index 13

          .cutting-point-left-down
            left -4px
            bottom -4px
            cursor sw-resize
            z-index 13

          .cutting-point-right-up
            right -4px
            top -4px
            cursor ne-resize
            z-index 13

          .cutting-point-right-down
            z-index 13
            right -4px
            bottom -4px
            cursor se-resize

          .cutting-area-h
            height 33.3333%
            width 100%
            border 1px dashed #aaa
            z-index 11

          .cutting-area-v
            width 33.333%
            height 100%
            border 1px dashed #aaa
            z-index 11

          .img-display
            width calc(100% - 2px)
            height calc(100% - 2px)
            background-image url("https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2754950309,2133495749&fm=26&gp=0.jpg")

  .prev-and-btn
    flex 0 0 100px
    display flex
    justify-content start
    flex-direction column
    height 100%

    .prev-cut-img
      height 100px
      width 100px

    .btn-group
      display flex
      justify-content center
      .confirm
        padding 8px 15px
        cursor pointer
        background-color #FFB800
        border 1px solid #ffa535
        color #fff
        border-radius 4px

        &:hover
          color #FFB800
          background-color #fff


