.rel-ebb-video-box
  width 100%
  height 100%
  position relative

  .rel-ebb-video
    width 100%
    height 100%
    object-fit cover

  .rel-ebb-controls
    position absolute
    z-index 10
    bottom 0
    left 0
    width 100%
    display flex
    justify-content space-between
    align-items center
    color #fff
    background-color rgba(0, 0, 0, .5)
    padding 5px 0
    box-sizing border-box
    font-size 14px

    .left
      display flex
      justify-content space-around
      align-items center
      width 140px

      .play
        .img
          height 25px
          width 25px
          background-size cover
          background-image url("../../assets/images/play.png")
          border-radius 50%
          cursor pointer

    .right
      display flex
      justify-content space-around
      align-items center
      width 240px

      .voice
        position relative
        font-size 12px

        &:hover
          .voice-panel
            display block

        .img
          width 25px
          height 25px
          background-size cover
          background-image url("../../assets/images/voice.png")
          cursor pointer

        .voice-panel
          position absolute
          bottom 12px
          left -10px
          width 35px
          display none

          .color
            padding 5px 0
            background-color rgba(0, 0, 0, .7)
            border-radius 4px
            width 100%
            height 100%
            display flex
            justify-content space-between
            align-items center
            flex-direction column

            .number
              padding-bottom 10px

            .show
              .total
                width 3px
                height 100px
                border-radius 50px
                position relative

              .btn
                position absolute
                top 24px
                left -4.5px
                cursor pointer
                height 12px
                width 12px
                background-size contain
                background-image url("../../assets/images/voice_btn.png")

              .rest
                background-color #fff
                height 30px

              .seted
                background-color #fb7299
                height 70px

          .connect
            height 26px
            cursor pointer

      .cycle
        .img
          height 25px
          width 25px
          background-size cover
          background-image url("../../assets/images/cycle.png")
          cursor pointer

      .definition
        position relative

        &:hover
          .definition-list
            display block

        .definition-item
          cursor pointer

        .definition-list
          list-style none
          position absolute
          bottom 10px
          left -50px
          font-size 14px
          display none

          .color
            background-color rgba(0, 0, 0, .6)
            border-radius 4px

            li
              padding 8px 15px
              white-space nowrap
              cursor pointer

              &:hover
                background-color rgba(255, 255, 255, .2)

              &:nth-child(1)
                display flex

                .logo
                  width 50px
                  height 21px
                  background-size 50px 21px
                  background-repeat no-repeat
                  background-image url("../../assets/images/1080p.png")
                  margin-left 5px

          .connect
            height 26px
            cursor pointer

      .speed
        position relative

        &:hover
          .speed-list
            display block

        .speed-item
          cursor pointer

        .speed-list
          position absolute
          bottom 10px
          left -25px
          list-style none
          display none

          .color
            background-color rgba(0, 0, 0, .6)
            border-radius 4px

            li
              padding 8px 15px
              white-space nowrap
              cursor pointer

              &:hover
                background-color rgba(255, 255, 255, .2)

              &:nth-child(1)
                display flex
                align-items center

                .logo
                  width 13px
                  height 13px
                  background-size contain
                  background-image url("../../assets/images/2.0x.png")
                  margin-left 5px

          .connect
            height 26px
            cursor pointer

      .full-screen
        .img
          width 20px
          height 20px
          background-size cover
          background-image url("../../assets/images/full-screen.png")
          cursor pointer

      .web-full-screen
        .img
          width 25px
          height 25px
          background-size cover
          background-image url("../../assets/images/web-full-screen.png")
          cursor pointer


  .video-panel
    width 100%
    height 100%
    position absolute
    z-index 9
    top 0
    left 0
    cursor pointer

    .top-column
      width 100%
      box-sizing border-box
      position absolute
      z-index 9

