.rel-ebb-video-box
  width 100%
  height 100%

  .rel-ebb-video
    width 100%
    height 100%
    object-fit cover

  .rel-ebb-video-box

    .left
      span
        background-image url("../../assets/images/play.png")


